[Unit]
Description=Vector
Documentation=http://vector.dev
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/vector -c /etc/vector/*.toml --quiet
ExecReload=/bin/kill -HUP $MAINPID
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vector
MemoryMax={{ vector_systemd_memory_max }}
CPUQuota={{ vector_systemd_cpu_quota }}

[Install]
WantedBy=multi-user.target
