<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<swid:software_identification_tag xmlns:swid="http://standards.iso.org/iso/19770/-2/2009/schema.xsd" xmlns:ccast="http://comcast.com/swid.xsd" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="e_1" xsi:schemaLocation="http://standards.iso.org/iso/19770/-2/2009/schema.xsd schema.xsd">
<!-- $Id: swidtag.xml,v 1.21.4.1 2015/11/11 21:11:40 $ -->
       <swid:entitlement_required_indicator id="e_2"></swid:entitlement_required_indicator>
       <swid:product_title id="e_3">31865</swid:product_title>
       <swid:product_version id="e_4">
              <swid:name id="e_5"></swid:name>
              <swid:numeric id="e_6">
                     <swid:major id="e_7"></swid:major>
                     <swid:minor id="e_8"></swid:minor>
                     <swid:build id="e_9"></swid:build>
                     <swid:review id="e_10"></swid:review>
              </swid:numeric>
       </swid:product_version>
       <swid:software_creator id="e_11">
              <swid:name id="e_12">web</swid:name>
              <swid:regid id="e_13"></swid:regid>
       </swid:software_creator>
       <swid:software_licensor id="e_14">
              <swid:name id="e_15">production</swid:name>
              <swid:regid id="e_16"></swid:regid>
       </swid:software_licensor>
       <swid:software_id id="e_17">
              <swid:unique_id id="e_18">ComcastIOP</swid:unique_id>
              <swid:tag_creator_regid id="e_19"></swid:tag_creator_regid>
       </swid:software_id>
       <swid:tag_creator id="e_20">
              <swid:name id="e_21"></swid:name>
              <swid:regid id="e_22"></swid:regid>
       </swid:tag_creator>
       <swid:abstract id="e_24">Comcast IOP SWID Tag</swid:abstract>
       <swid:installation_details id="e_25">
              <swid:location_platform id="e_26"></swid:location_platform>
              <swid:location_installation id="e_27"></swid:location_installation>
              <swid:installation_target_id id="e_28"></swid:installation_target_id>
       </swid:installation_details>
	   	  <swid:extended_information>
			<ccast:Team>Comcast IOP</ccast:Team>
			<ccast:tag_type>Application</ccast:tag_type>
			<ccast:Confidentiality_Data_Classification></ccast:Confidentiality_Data_Classification>
			<ccast:Integrity_Application_Data_Integrity></ccast:Integrity_Application_Data_Integrity>
			<ccast:Integrity_Patching_Frequency></ccast:Integrity_Patching_Frequency>
			<ccast:Integrity_Asset_Integrity></ccast:Integrity_Asset_Integrity>
			<ccast:Availability_Application_Availability></ccast:Availability_Application_Availability>
			<ccast:Availability_Asset_Environment></ccast:Availability_Asset_Environment>
			<ccast:Confidentiality_Score></ccast:Confidentiality_Score>
			<ccast:Integrity_Score></ccast:Integrity_Score>
			<ccast:Availability_Score></ccast:Availability_Score>
			<ccast:ORS>3</ccast:ORS>
	  </swid:extended_information>
</swid:software_identification_tag>