<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="elk_async" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>127.0.0.1:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <!-- these fields will be added at the top level of the json -->
                <customFields>{"service.environment":"${envType}"}</customFields>
                <fieldNames>
                    <version>[ignore]</version>
                    <logger>log.logger</logger>
                    <level>log.level</level>
                    <thread>process.thread.name</thread>
                    <levelValue>event.severity</levelValue>
                    <stackTrace>error.stack_trace</stackTrace>
                </fieldNames>
            </encoder>
            <addDefaultStatusListener>false</addDefaultStatusListener>
        </appender>
        <addDefaultStatusListener>false</addDefaultStatusListener>
    </appender>
    <!-- Disable low level Flume logging! -->
    <logger name="com.comcast.xre.metrics" level="error"/>
    <logger name="com.comcast" level="INFO"/>
    <logger name="org.eclipse" level="WARN"/>
    <logger name="org.spring" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="httpclient" level="WARN"/>
    <root>
        <level value="INFO"/>
        <appender-ref ref="elk_async"/>
    </root>
</configuration>