global
  log 127.0.0.1 local2
  pidfile /var/run/haproxy.pid
  maxconn 10000
  user haproxy
  group haproxy
  daemon
  tune.ssl.default-dh-param 1024
  tune.ssl.cachesize 100000
  tune.ssl.lifetime 600

defaults
  mode http
  log global
  option httplog
  option dontlognull
  option http-server-close
  option forwardfor except 127.0.0.0/8
  option redispatch
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  timeout http-keep-alive 10s
  timeout check 10s
  stats uri /haproxy-stats
  maxconn 10000

listen stats :::10543 v4v6
  mode http
  log global
  stats uri /haproxy-stats
  monitor-uri /haproxy_test

frontend local_haproxy
  bind :::{{ app_service_sport }} ssl crt {{ cert_location }}
  mode http
  default_backend service_local

backend service_local
  server localhost 127.0.0.1:{{ app_service_port }}
