blueocean.partners=comcastTest, comcastProd, comcastStaging, mockTest, rogersTest, rogersProd, coxTest, coxProd, shawProd, shawTest

comcastTest.NW=384776
comcastTest.PROF=384776:ComcastX1_Guide
comcastTest.CSID=x1_grid
comcastTest.SSNW=384776
comcastTest.CAID=x1_display_asset_cpb3
comcastTest.ASNW=384776
comcastTest.PVRN=123
comcastTest.VPRN=321
comcastTest.URL=5df08.v.fwmrm.net/ad/g/1
comcastTest.PROTOCOL=https

comcastProd.NW=384777
comcastProd.PROF=384777:ComcastX1_Guide
comcastProd.CSID=x1_guide
comcastProd.SSNW=384777
comcastProd.CAID=x1_display_asset_cpb3
comcastProd.ASNW=384777
comcastProd.PVRN=1234
comcastProd.VPRN=4321
comcastProd.URL=5df09.v.fwmrm.net/ad/g/1
comcastProd.PROTOCOL=https

comcastStaging.NW=384777
comcastStaging.PROF=384777:ComcastX1_Guide
comcastStaging.CSID=x1_guide
comcastStaging.SSNW=384777
comcastStaging.CAID=x1_display_asset_cpb3
comcastStaging.ASNW=384777
comcastStaging.PVRN=1234
comcastStaging.VPRN=4321
comcastStaging.URL=5df09.v.fwmrm.net/ad/g/1
comcastStaging.PROTOCOL=https

mockTest.NW=384776
mockTest.PROF=384776:xre_ingrid
mockTest.CSID=x1_grid
mockTest.SSNW=384776
mockTest.CAID=x1_display_asset_cpb3
mockTest.ASNW=384776
mockTest.PVRN=123
mockTest.VPRN=321
mockTest.URL=tvxjmr-dw-c00004-b.do.xcal.tv:3000/ad/g/1
mockTest.PROTOCOL=http

#Partner - Rogers East(rogers)
rogersTest.NW=511844
rogersTest.PROF=511844:IgniteTV_Guide
rogersTest.CSID=x1_grid
rogersTest.SSNW=511844
rogersTest.CAID=igniteTV_InGrid_Asset
rogersTest.ASNW=511844
rogersTest.PVRN=1234
rogersTest.VPRN=4321
rogersTest.URL=7cf64.v.fwmrm.net/ad/g/1
rogersTest.PROTOCOL=https

rogersProd.NW=511845
rogersProd.PROF=511845:IgniteTV_Guide
rogersProd.CSID=x1_grid
rogersProd.SSNW=511845
rogersProd.CAID=igniteTV_InGrid_Asset
rogersProd.ASNW=511845
rogersProd.PVRN=1234
rogersProd.VPRN=4321
rogersProd.URL=7cf65.v.fwmrm.net/ad/g/1
rogersProd.PROTOCOL=https

coxTest.NW=505333
coxTest.PROF=505333:Cox_Guide
coxTest.CSID=x1_grid
coxTest.SSNW=505333
coxTest.CAID=ContourTV_InGrid_Asset
coxTest.ASNW=505333
coxTest.PVRN=1234
coxTest.VPRN=4321
coxTest.URL=7b5f6.v.fwmrm.net/ad/g/1
coxTest.PROTOCOL=https

coxProd.NW=505334
coxProd.PROF=505334:Cox_Guide
coxProd.CSID=x1_grid
coxProd.SSNW=505334
coxProd.CAID=ContourTV_InGrid_Asset
coxProd.ASNW=505334
coxProd.PVRN=1234
coxProd.VPRN=4321
coxProd.URL=7b5f6.v.fwmrm.net/ad/g/1
coxProd.PROTOCOL=https

#Partner - Rogers West(shaw)
shawProd.NW=511845
shawProd.PROF=511845:IgniteTV_Guide
shawProd.CSID=x1_grid
shawProd.SSNW=511845
shawProd.CAID=igniteTV_InGrid_Asset
shawProd.ASNW=511845
shawProd.PVRN=1234
shawProd.VPRN=4321
shawProd.URL=7cf65.v.fwmrm.net/ad/g/1
shawProd.PROTOCOL=https

shawTest.NW=511844
shawTest.PROF=511844:IgniteTV_Guide
shawTest.CSID=x1_grid
shawTest.SSNW=511844
shawTest.CAID=igniteTV_InGrid_Asset
shawTest.ASNW=511844
shawTest.PVRN=1234
shawTest.VPRN=4321
shawTest.URL=7cf65.v.fwmrm.net/ad/g/1
shawTest.PROTOCOL=https